
<!DOCTYPE html>
<!--[if IEMobile 7 ]><html class="no-js iem7"><![endif]-->
<!--[if lt IE 9]><html class="no-js lte-ie8"><![endif]-->
<!--[if (gt IE 8)|(gt IEMobile 7)|!(IEMobile)|!(IE)]><!--><html class="no-js" lang="en"><!--<![endif]-->
<head>
  <meta charset="utf-8">
  <title>Jonathan Kingston</title>
  <meta name="author" content="Jonathan Kingston">

  
  <meta name="description" content="Laravel was suggested to me last week and I have only just got time to take a look at it properly. The framework has a similar structure to Rails so &hellip;">
  

  <!-- http://t.co/dKP3o1e -->
  <meta name="HandheldFriendly" content="True">
  <meta name="MobileOptimized" content="320">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  
  <link rel="canonical" href="http://jonathanKingston.github.io">
  <link href="/favicon.png" rel="icon">
  <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css">
  <link href="/atom.xml" rel="alternate" title="Jonathan Kingston" type="application/atom+xml">
  <script src="/javascripts/modernizr-2.0.js"></script>
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  <script>!window.jQuery && document.write(unescape('%3Cscript src="./javascripts/lib/jquery.min.js"%3E%3C/script%3E'))</script>
  <script src="/javascripts/octopress.js" type="text/javascript"></script>
  <!--Fonts from Google"s Web font directory at http://google.com/webfonts -->
<link href="http://fonts.googleapis.com/css?family=PT+Serif:regular,italic,bold,bolditalic" rel="stylesheet" type="text/css">
<link href="http://fonts.googleapis.com/css?family=PT+Sans:regular,italic,bold,bolditalic" rel="stylesheet" type="text/css">

  

</head>

<body   >
  <header role="banner"><hgroup>
  <h1><a href="/">Jonathan Kingston</a></h1>
  
    <h2>Development blog</h2>
  
</hgroup>

</header>
  <nav role="navigation"><ul class="subscription" data-subscription="rss">
  <li><a href="/atom.xml" rel="subscribe-rss" title="subscribe via RSS">RSS</a></li>
  
</ul>
  
<form action="http://google.com/search" method="get">
  <fieldset role="search">
    <input type="hidden" name="q" value="site:jonathanKingston.github.io" />
    <input class="search" type="text" name="q" results="0" placeholder="Search"/>
  </fieldset>
</form>
  
<ul class="main-navigation">
  <li><a href="/">Blog</a></li>
  <li><a href="/blog/archives">Archives</a></li>
</ul>

</nav>
  <div id="main">
    <div id="content">
      <div class="blog-index">
  
  
  
    <article>
      
  <header>
    
      <h1 class="entry-title"><a href="/blog/2013/10/25/trialing-laravel-php/">Trialling Laravel PHP</a></h1>
    
    
      <p class="meta">
        








  


<time datetime="2013-10-25T01:29:00+01:00" pubdate data-updated="true">Oct 25<span>th</span>, 2013</time>
        
           | <a href="/blog/2013/10/25/trialing-laravel-php/#disqus_thread"
             data-disqus-identifier="http://jonathanKingston.github.io/blog/2013/10/25/trialing-laravel-php/">Comments</a>
        
      </p>
    
  </header>


  <div class="entry-content"><p>Laravel was suggested to me last week and I have only just got time to take a look at it properly.</p>

<p>The framework has a similar structure to Rails so it seems pretty familiar to me so far. In making this article I created a <a href="https://github.com/jonathanKingston/laravel-test">test REST laravel application</a>.</p>

<h2>Initial install</h2>

<p>Firstly I needed to install everything as my machine has recently decided to need rebuilding, I needed to install PHP and composer etc.</p>

<pre><code>sudo apt-get install php5
curl -sS https://getcomposer.org/installer | php
sudo mv composer.phar /usr/local/bin/composer
</code></pre>

<p>Setting up a new instance is then quick and simple with:</p>

<pre><code>composer create-project laravel/laravel laravel-test --prefer-dist
</code></pre>

<h3>Setup a new site in Apache</h3>

<p>I then setup an area to play around with in Apache:</p>

<pre><code>sudo touch /etc/apache2/sites-available/laravel-test
</code></pre>

<p>I then edited the file to have the following config:</p>

<figure class='code'><figcaption><span>laravel-test </span></figcaption>
<div class="highlight"><table><tr><td class="gutter"><pre class="line-numbers"><span class='line-number'>1</span>
<span class='line-number'>2</span>
<span class='line-number'>3</span>
<span class='line-number'>4</span>
<span class='line-number'>5</span>
<span class='line-number'>6</span>
<span class='line-number'>7</span>
<span class='line-number'>8</span>
<span class='line-number'>9</span>
<span class='line-number'>10</span>
<span class='line-number'>11</span>
<span class='line-number'>12</span>
<span class='line-number'>13</span>
<span class='line-number'>14</span>
<span class='line-number'>15</span>
<span class='line-number'>16</span>
<span class='line-number'>17</span>
<span class='line-number'>18</span>
<span class='line-number'>19</span>
<span class='line-number'>20</span>
<span class='line-number'>21</span>
<span class='line-number'>22</span>
<span class='line-number'>23</span>
<span class='line-number'>24</span>
</pre></td><td class='code'><pre><code class=''><span class='line'>Listen 8080
</span><span class='line'>
</span><span class='line'>&lt;VirtualHost *:8080>
</span><span class='line'>        ServerAdmin webmaster@localhost
</span><span class='line'>
</span><span class='line'>        DocumentRoot /home/jonathan/workspace/laravel-test/public
</span><span class='line'>        &lt;Directory /home/jonathan/workspace/laravel-test/public>
</span><span class='line'>                RewriteEngine On
</span><span class='line'>                Options Indexes FollowSymLinks MultiViews
</span><span class='line'>                AllowOverride All
</span><span class='line'>                Order allow,deny
</span><span class='line'>                allow from all
</span><span class='line'>        &lt;/Directory>
</span><span class='line'>
</span><span class='line'>
</span><span class='line'>        ErrorLog ${APACHE_LOG_DIR}/error.log
</span><span class='line'>
</span><span class='line'>        # Possible values include: debug, info, notice, warn, error, crit,
</span><span class='line'>        # alert, emerg.
</span><span class='line'>        LogLevel warn
</span><span class='line'>
</span><span class='line'>        CustomLog ${APACHE_LOG_DIR}/access.log combined
</span><span class='line'>
</span><span class='line'>&lt;/VirtualHost></span></code></pre></td></tr></table></div></figure>


<p>I then ran the following to enable the site:</p>

<pre><code>sudo a2ensite laravel-test;
sudo a2enmod rewrite;
sudo service apache2 reload;
</code></pre>

<p>I then ran the following to set the required permissions:</p>

<pre><code>sudo chmod -R 777 app/storage;
</code></pre>

<h2>Quick start guide</h2>

<p>The laravel quick start guide I think could flow better.
The guide doesn&rsquo;t mention the benefits of separating out code into controllers.
New developers are not suggested that <a href="http://laravel.com/docs/controllers#resource-controllers">REST resourceful routing</a> would be better later, I actually found this feature hard to find even though I was fairly sure the framework supported it.
There is not a detailed enough explanation to how to setup a web server to securely use the framework.</p>

<p>As a guide it doesn&rsquo;t seem like it would promote good development practice for new developers.</p>

<h2>Templates</h2>

<p>The <a href="http://laravel.com/docs/templates">Blade</a> templates remind me of <a href="http://www.ruby-doc.org/stdlib-2.0.0/libdoc/erb/rdoc/ERB.html">Erb</a> and <a href="http://twig.sensiolabs.org/">Twig</a> templates, so far they seem a little weird but certainly no <a href="http://www.template-toolkit.org">Template Toolkit</a>.</p>

<p>I am however a little perplexed as to why Laravel has created another template engine when Twig appears to have the same goals and instead of using this:</p>

<pre><code>@section('main')
  this is a test.
@endsection
</code></pre>

<p>Twig would use:</p>

<pre><code>{% block main %}
   this is a test.
{% endblock %}
</code></pre>

<p>I personally find this easier to read, luckily it looks like you can use Twig in Laravel with <a href="https://github.com/rcrowe/TwigBridge">TwigBridge</a>.</p>

<h2>Config changes</h2>

<p>I changed my database to PostgreSQL rather than mySQL opening <code>app/config/database.php</code>:</p>

<pre><code>        'default' =&gt; 'pgsql',
</code></pre>

<p>Also modifying the config further down for pgsql.</p>

<h3>New DB setup</h3>

<p>Making sure we have the database installed:</p>

<pre><code>sudo apt-get install postgresql-9.1;
sudo apt-get install php5-pgsql;
</code></pre>

<p>Changing the PostgreSQL default password if you have not already:</p>

<pre><code>sudo -u postgres psql postgres;

\password postgres
create database database;
</code></pre>

<h2>Forms</h2>

<p>Forms look like they could do with a lot of work, as this is a modern framework I was expecting something more powerful than <a href="http://guides.rubyonrails.org/form_helpers.html">Rails forms</a>.
Having used <a href="http://search.cpan.org/~gshank/HTML-FormHandler-0.40053/lib/HTML/FormHandler.pm">FormHandler</a> in Perl on a regular basis the forms in Laravel appear to be far weaker than that.
Anyway, we are left with something that is a PHP clone of Rails here, it does the job.</p>

<h2>Migrations</h2>

<p>For a corporate environment of any size, having the ability to roll back and forward database structures is very powerful.</p>

<p>Laravel provides migrate in the artisan command:</p>

<pre><code>php artisan migrate:make create_test_table
</code></pre>

<p>Here is a sample database I created:</p>

<pre><code>Schema::create('test', function($table)
{
    $table-&gt;increments('id');
    $table-&gt;string('name');
    $table-&gt;text('description');
    $table-&gt;timestamps();
});
</code></pre>

<p>Now lets run the migrations:</p>

<pre><code>php artisan migrate
</code></pre>

<h2>Controller</h2>

<p>I then setup a sample controller:</p>

<pre><code>php artisan controller:make testController
</code></pre>

<p>Then setup the route to link to this controller making it a <a href="http://laravel.com/docs/controllers#resource-controllers">resource controller</a>:</p>

<pre><code>Route::resource('test', 'testController');
</code></pre>

<p>I then populated the controller code:</p>

<figure class='code'><div class="highlight"><table><tr><td class="gutter"><pre class="line-numbers"><span class='line-number'>1</span>
<span class='line-number'>2</span>
<span class='line-number'>3</span>
<span class='line-number'>4</span>
<span class='line-number'>5</span>
</pre></td><td class='code'><pre><code class=''><span class='line'>public function index()
</span><span class='line'>        {
</span><span class='line'>                $tests = Test::all();
</span><span class='line'>                return View::make('test/index', array('tests' => $tests));
</span><span class='line'>        }</span></code></pre></td></tr></table></div></figure>


<h2>Building the templates</h2>

<p>For the controller I then needed to build the following template s:</p>

<ul>
<li> app/views/test/index.blade.php</li>
<li> app/views/test/edit.blade.php</li>
<li> app/views/test/show.blade.php</li>
<li> app/views/test/create.blade.php</li>
<li> app/views/test/destroy.blade.php</li>
</ul>


<p>I also made the templates extend from a template &lsquo;layout&rsquo;:</p>

<figure class='code'><div class="highlight"><table><tr><td class="gutter"><pre class="line-numbers"><span class='line-number'>1</span>
<span class='line-number'>2</span>
<span class='line-number'>3</span>
<span class='line-number'>4</span>
<span class='line-number'>5</span>
<span class='line-number'>6</span>
<span class='line-number'>7</span>
<span class='line-number'>8</span>
<span class='line-number'>9</span>
</pre></td><td class='code'><pre><code class=''><span class='line'>&lt;!DOCTYPE html>
</span><span class='line'>&lt;html>
</span><span class='line'>  &lt;head>
</span><span class='line'>    &lt;title>Test application&lt;/title>
</span><span class='line'>  &lt;/head>
</span><span class='line'>  &lt;body>
</span><span class='line'>    @yield('content')
</span><span class='line'>  &lt;/body>
</span><span class='line'>&lt;/html></span></code></pre></td></tr></table></div></figure>


<p>Here is the edit action that I used:</p>

<figure class='code'><div class="highlight"><table><tr><td class="gutter"><pre class="line-numbers"><span class='line-number'>1</span>
<span class='line-number'>2</span>
<span class='line-number'>3</span>
<span class='line-number'>4</span>
<span class='line-number'>5</span>
<span class='line-number'>6</span>
<span class='line-number'>7</span>
<span class='line-number'>8</span>
<span class='line-number'>9</span>
<span class='line-number'>10</span>
<span class='line-number'>11</span>
<span class='line-number'>12</span>
<span class='line-number'>13</span>
</pre></td><td class='code'><pre><code class=''><span class='line'>@extends('layout')
</span><span class='line'>
</span><span class='line'>@section('content')
</span><span class='line'>  &lt;h1>Edit test {{ $test->id }}&lt;/h1>
</span><span class='line'>
</span><span class='line'>  {{ Form::model($test, array('action' => array('testController@update', $test->id), 'method' => 'put')) }}
</span><span class='line'>    &lt;div>{{ Form::label('name', 'Test name') }} {{ Form::text('name') }}&lt;/div>
</span><span class='line'>    &lt;div>{{ Form::label('description', 'Description') }} {{ Form::textarea('description') }}&lt;/div>
</span><span class='line'>    {{ Form::submit() }}
</span><span class='line'>  {{ Form::close() }}
</span><span class='line'>
</span><span class='line'>  {{ link_to_action('testController@index', 'Show all') }}
</span><span class='line'>@endsection</span></code></pre></td></tr></table></div></figure>


<p>I was happy to see several <a href="http://laravel.com/docs/helpers#urls">Helpers</a> for producing links and URL&rsquo;s this is an absolute must for templates to keep links fresh and easy to maintain on a larger site.</p>

<p><a href="https://github.com/jonathanKingston/laravel-test/tree/master/app/views/test">See all the rest of the template code I used.</a></p>

<h2>ORM wrapper</h2>

<p>The ORM wrapper seems easy enough to follow for beginners, following the same direction as most other frameworks.</p>

<p>However the Laravel docs shows how to use validations but not where they should be placed or what best practices are. I have decided to hook in with model so only one place defines the database validation.</p>

<p>I added the following code to my model:</p>

<figure class='code'><div class="highlight"><table><tr><td class="gutter"><pre class="line-numbers"><span class='line-number'>1</span>
<span class='line-number'>2</span>
<span class='line-number'>3</span>
<span class='line-number'>4</span>
<span class='line-number'>5</span>
<span class='line-number'>6</span>
<span class='line-number'>7</span>
<span class='line-number'>8</span>
<span class='line-number'>9</span>
<span class='line-number'>10</span>
<span class='line-number'>11</span>
<span class='line-number'>12</span>
<span class='line-number'>13</span>
<span class='line-number'>14</span>
<span class='line-number'>15</span>
<span class='line-number'>16</span>
</pre></td><td class='code'><pre><code class=''><span class='line'>public $validator;
</span><span class='line'>
</span><span class='line'>  public $rules = array(
</span><span class='line'>    'name' => 'Required|Min:3|Alpha'
</span><span class='line'>  );
</span><span class='line'>
</span><span class='line'>  public static function boot() {
</span><span class='line'>    parent::boot();
</span><span class='line'>
</span><span class='line'>    //Add in saving hook to prevent database being saved
</span><span class='line'>    Test::saving(function ($model) {
</span><span class='line'>      $model->validator = Validator::make($model->toArray(), $model->rules);
</span><span class='line'>
</span><span class='line'>      return $model->validator->passes();
</span><span class='line'>    });
</span><span class='line'>  }</span></code></pre></td></tr></table></div></figure>


<ul>
<li>This adds in a boot method which allows the model to define hooks. <a href="http://laravel.com/docs/eloquent#model-events">More info on the boot method and events</a>.</li>
<li>I then use the boot method for adding in a saving hook (Before INSERT or UPDATE) using <code>Test::saving(</code>.</li>
<li>The anonymous function then validates the input of the model and saves it to the parameter <code>$model-&gt;validator</code></li>
<li>The return value of the anonymous function used in the hook <code>$model-&gt;validator-&gt;passes()</code> will return true or false which when false will prevent the model being saved.</li>
</ul>


<p>In the controller I then use:</p>

<figure class='code'><div class="highlight"><table><tr><td class="gutter"><pre class="line-numbers"><span class='line-number'>1</span>
<span class='line-number'>2</span>
<span class='line-number'>3</span>
<span class='line-number'>4</span>
<span class='line-number'>5</span>
<span class='line-number'>6</span>
<span class='line-number'>7</span>
</pre></td><td class='code'><pre><code class=''><span class='line'>$test = Test::find($id);
</span><span class='line'>$test->update(array('name' => Input::get('name'), 'description' => Input::get('description')));
</span><span class='line'>
</span><span class='line'>if ($test->validator->fails()) {
</span><span class='line'>  return Redirect::action('testController@edit', array($test->id))->withInput()->withErrors($test->validator);
</span><span class='line'>}
</span><span class='line'>return Redirect::action('testController@show', array($test->id));</span></code></pre></td></tr></table></div></figure>


<p>Check out the <a href="http://laravel.com/docs/validation#error-messages-and-views">Validator API</a> for more info.</p>

<p>I then modified the template to show the errors:</p>

<figure class='code'><div class="highlight"><table><tr><td class="gutter"><pre class="line-numbers"><span class='line-number'>1</span>
<span class='line-number'>2</span>
<span class='line-number'>3</span>
<span class='line-number'>4</span>
<span class='line-number'>5</span>
<span class='line-number'>6</span>
<span class='line-number'>7</span>
<span class='line-number'>8</span>
<span class='line-number'>9</span>
</pre></td><td class='code'><pre><code class=''><span class='line'>@if ( $errors->count() > 0 )
</span><span class='line'>  &lt;p>The following errors have occurred:&lt;/p>
</span><span class='line'>
</span><span class='line'>  &lt;ul>
</span><span class='line'>  @foreach( $errors->all() as $message )
</span><span class='line'>    &lt;li>{{ $message }}&lt;/li>
</span><span class='line'>  @endforeach
</span><span class='line'>  &lt;/ul>
</span><span class='line'>@endif</span></code></pre></td></tr></table></div></figure>


<p>The $errors will be populated from the redirect in the controller from <code>withErrors</code> and the forms will be populated with the erronous form input from the <code>withInput</code> method call too.</p>

<h2>Improvements</h2>

<ul>
<li>Documentation, key parts of the framework are less documented than far less important parts.</li>
<li>Add in the ability to do FormHandler style forms which can render forms, validate and connect to the model.</li>
<li>Stronger content-type response handling like <a href="http://apidock.com/rails/ActionController/MimeResponds/respond_with">respond_with in Rails</a></li>
<li>Why do the Laravel code samples use spaces but the code in the framework use tabs? (Pick one &ndash; please)</li>
<li>Scaffolding &ndash; yes it will make things look even more like Rails however it is a brilliant beginner tool and with the ability to customise the generated code for bigger projects it makes creating new wireframes is very fast.</li>
</ul>


<h2>Conclusion</h2>

<p>I am happy to see that the famework is fairly extendable, I didn&rsquo;t look into what the extension mechanisms are like and what popular extension code quality was.
I think overall it seems a far leaner framework than CakePHP and with most of the ability of Rails. I think being a youngish framework still, more could be done to improve the setup, documentation and tools.</p>
</div>
  
  


    </article>
  
  
    <article>
      
  <header>
    
      <h1 class="entry-title"><a href="/blog/2013/10/21/pushing-restart-on-blogging/">Pushing Restart on Blogging</a></h1>
    
    
      <p class="meta">
        








  


<time datetime="2013-10-21T15:35:00+01:00" pubdate data-updated="true">Oct 21<span>st</span>, 2013</time>
        
           | <a href="/blog/2013/10/21/pushing-restart-on-blogging/#disqus_thread"
             data-disqus-identifier="http://jonathanKingston.github.io/blog/2013/10/21/pushing-restart-on-blogging/">Comments</a>
        
      </p>
    
  </header>


  <div class="entry-content"><p>I have been inspired to write blogs over the years, without ever making more than several posts before quitting.</p>

<p>A post by Joe Armstrong hit home and made me realise I should just get on and start writing:
<a href="http://joearms.github.io/2013/03/28/jekyll-is-great.html">Joe Armstrong &ndash; Jekyll is great</a></p>

<p>I&rsquo;m not expecting to have much interest however: man needs a place to rant.</p>

<p>This is what I will be using this blog for mainly ranting and perhaps some talk about development.</p>
</div>
  
  


    </article>
  
  <div class="pagination">
    
    <a href="/blog/archives">Blog Archives</a>
    
  </div>
</div>
<aside class="sidebar">
  
    <section>
  <h1>Recent Posts</h1>
  <ul id="recent_posts">
    
      <li class="post">
        <a href="/blog/2013/10/25/trialing-laravel-php/">Trialling Laravel PHP</a>
      </li>
    
      <li class="post">
        <a href="/blog/2013/10/21/pushing-restart-on-blogging/">Pushing Restart on Blogging</a>
      </li>
    
  </ul>
</section>

<section>
  <h1>GitHub Repos</h1>
  <ul id="gh_repos">
    <li class="loading">Status updating&#8230;</li>
  </ul>
  
  <a href="https://github.com/jonathanKingston">@jonathanKingston</a> on GitHub
  
  <script type="text/javascript">
    $(document).ready(function(){
        if (!window.jXHR){
            var jxhr = document.createElement('script');
            jxhr.type = 'text/javascript';
            jxhr.src = '/javascripts/libs/jXHR.js';
            var s = document.getElementsByTagName('script')[0];
            s.parentNode.insertBefore(jxhr, s);
        }

        github.showRepos({
            user: 'jonathanKingston',
            count: 0,
            skip_forks: true,
            target: '#gh_repos'
        });
    });
  </script>
  <script src="/javascripts/github.js" type="text/javascript"> </script>
</section>



<section class="googleplus googleplus-hidden">
  <h1>
    <a href="https://plus.google.com/111242846046446159987?rel=author">
      <img src="http://www.google.com/images/icons/ui/gprofile_button-32.png" width="32" height="32">
      Google+
    </a>
  </h1>
</section>



  
</aside>

    </div>
  </div>
  <footer role="contentinfo"><p>
  Copyright &copy; 2013 - Jonathan Kingston
</p>

</footer>
  

<script type="text/javascript">
      var disqus_shortname = 'jonathankingston';
      
        
        var disqus_script = 'count.js';
      
    (function () {
      var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
      dsq.src = '//' + disqus_shortname + '.disqus.com/' + disqus_script;
      (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
    }());
</script>











</body>
</html>
