// This File is imported last, and will override other styles in the cascade
// Add styles here to make changes without digging in too much

article {
  header {
    p {
      &.meta {
        text-transform: capitalize;
      }
    }
  }
}


body {
  header[role=banner] {
    background-color: #639;
    background-color: rebeccapurple;
    h2 {
      color: black;
    }
  }
}
